.container {
    text-align: left;
    font-size: 0.9em;

    margin: 0 0 8px 0;
    padding: 8px 16px;
    width: 100%;

    border: none;
    border-radius: 10px;
    background-color: var(--transparent);
    transition: 0.5s;
}

.container:hover {
    background-color: var(--grey001);
}

.container > h3 {
    font-weight: 500;
    padding: 12px 16px;
    margin: 0;
}

.container > p {
    font-weight: 500;
    margin: 0;
}

.container > span {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}

.container > span > a {
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 10px;
}

.container > span > a::after {
    background-color: var(--transparent);
}

.container > span > a:hover::after {
	background-color: var(--black);
}