.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text > h5 {
    font-weight: 700;
    color: var(--grey008);
    margin-bottom: 0;
}

.text > h6 {
    font-size: 0.6em;
    font-weight: 400;
    margin-top: 0.2em;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}