@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
	--white: #ffffff;
	--black: #212121;

    --grey001: #f5f5f5; 
    --grey002: #f0f0f0;
    --grey003: #e0e0e0;
    --grey004: #bdbdbd;
    --grey005: #9e9e9e;
    --grey006: #757575;
    --grey007: #616161;
    --grey008: #424242;

	--lightBlue: #4869D9;
	--darkBlue: #3C56AB;
    --transparent: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
}

main, section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header, footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* ---------- text ---------- */

h1, h2, h3, h4, h5, h6, p, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin: 0.5em 0;
}

h1 { font-size: 2.5em; }
h2 { 
	font-size: 1.7em; 
	font-weight: 500;
}
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { 
	font-size: 0.9em;
	font-weight: 400;
	color: var(--grey006); 
}
h6 { 
	font-size: 0.8em;
	font-weight: 500;
	color: var(--grey008);
}
p { font-weight: 400; }

@media screen and (max-width: 470px) {
    h1 { font-size: 1.6em; }
}

/* ---------- input ---------- */

input, input::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: var(--black);
	margin: 0.2em;
}

input {
	padding: 12px 18px;
	outline: none;
	border: 1px solid var(--black);
	border-radius: 50px;
}

input::placeholder {
	color: var(--grey005);
}

/* ---------- link ---------- */

a, a:link , a:active {
	color: var(--grey006);
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;

	position: relative;
	padding-bottom: 2px;
	transition: 0.2s;
}

a:hover {
	color: var(--black);
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	top: 1.3em;

	width: 100%;
	height: 1px;
	background-color: var(--grey006);
	transition: 0.2s;
}

a:hover::after {
	height: 0.15em;
	background-color: var(--black);
}

a[color=reverse], a[color=reverse]:link , a[color=reverse]:active {
	color: var(--grey004);
}

a[color=reverse]:hover {
	color: var(--white);
}

a[color=reverse]::after {
	background-color: var(--grey004);
}

a[color=reverse]:hover::after {
	background-color: var(--white);
}


/* ---------- button ---------- */

button {
	font-size: 0.8em;
	font-weight: 500;
	padding: 8px 22px;
	
	cursor: pointer;
	outline: none;
	transition: 0.2s;

	color: var(--black);
	border-radius: 50px;
	border: 2px solid var(--grey001);
	background-color: var(--grey001);
}

button:hover {
	border: 2px solid var(--grey002);
	background-color: var(--grey002);
}

button[variant=contained] {
	text-transform: uppercase;
	opacity: 0.75;
}

button[variant=contained]:hover {
	opacity: 0.85;
}

button[variant=outlined] {
	text-transform: uppercase;
	transition: 0.5s;
}

button[variant=contained], button[variant=outlined], button[color=tertiary] {
	padding: 9px 35px;
}

button[color=primary] {
	border: 3px solid var(--white);
}

button[color=primary][variant=contained] {
	color: var(--black);
	background-color: var(--white);
}

button[color=primary][variant=outlined] {
	color: var(--white);
	background-color: var(--transparent);
}

button[color=primary][variant=outlined]:hover {
	color: var(--black);
	background-color: var(--white);
}

button[color=secondary] {
	border: 3px solid var(--black);
}

button[color=secondary][variant=contained] {
	color: var(--white);
	background-color: var(--black);
}

button[color=secondary][variant=outlined] {
	color: var(--black);
	background-color: var(--transparent);
}

button[color=secondary][variant=outlined]:hover {
	color: var(--white);
	background-color: var(--black);
}

button[color=tertiary] {
	color: var(--white);
	border: 2px solid var(--lightBlue);
	background-color: var(--lightBlue);
}

button[color=tertiary]:hover {
	color: var(--white);
	border: 2px solid var(--darkBlue);
	background-color: var(--darkBlue);
}

button[color=quaternary] {
	color: var(--black);
	border: 1px solid var(--grey004);
	background-color: var(--white);
	padding: 16px 40px;
}

button[color=quaternary][status=active] {
	border: 3px solid var(--lightBlue);	
	padding: 14px 38px;
}

/* ---------- checkbox ---------- */

.checkbox {
	font-size: 1em;
	padding: 2px 0 0 30px;
	margin-bottom: 10px;
	cursor: pointer;

	display: block;
	position: relative;

	height: 22px;
	width: fit-content;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.checkbox > input {
	display: none;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;

	height: 22px;
	width: 22px;

	border: 1px solid var(--black);
	border-radius: 5px;
	background-color: var(--white);
	transition: 0.2s;
}

.checkmark:after {
	content: '';
	display: none;
	width: 6px;
	height: 11px;

	position: absolute;
	left: 6px;
	top: 2px;
	
	border: solid white;
	border-width: 0 2px 2px 0;

	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.checkbox > input:hover ~ .checkmark {
	background-color: var(--grey001);
}

.checkbox > input:checked ~ .checkmark {
	background-color: var(--black);
}

.checkbox > input:checked ~ .checkmark:after {
	display: block;
}

/* ---------- radio ---------- */

.radio {
	font-size: 1em;
	padding: 2px 0 0 30px;
	margin-bottom: 10px;
	cursor: pointer;

	display: block;
	position: relative;

	height: 22px;
	width: fit-content;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.radio > input {
	display: none;
}

.radiomark {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	height: 22px;
	width: 22px;

	border: 1px solid var(--black);
	border-radius: 50%;
	background-color: var(--white);
}

.radiomark:after {
	content: '';
	display: block;

	position: absolute;
	top: 6px;
	left: 6px;

	width: 6px;
	height: 6px;

	border-radius: 50%;
	transition: 0.2s;
}

.radio > input:hover ~ .radiomark {
	background-color: var(--grey001);
}

.radio > input:checked ~ .radiomark {
	border-width: 2px;
}

.radio > input:checked ~ .radiomark:after {
	display: block;
	background-color: var(--black);
	transform: scale(2);
}

/* ---------- dropdown ---------- */

.dropdown {
	cursor: pointer;
	position: relative;
	margin: 5px 10px;
}

.dropdown[clickable=on], 
.dropdown[clickable=on] > .button, 
.dropdown[clickable=on] > .button > input {
	cursor: not-allowed;
	opacity: 0.9;
}

.dropdown[clickable=on] > .button > input::placeholder {
	color: var(--grey004);
}

.dropdown > .button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin-bottom: 5px;
	padding-right: 10px;
	border-radius: 50px;
	background-color: var(--grey001);
}

.dropdown > .button > input {
	cursor: pointer;
	padding: 8px 12px;

	border: none;
	border-radius: 50px;
	background-color: var(--transparent);
}

.dropdown > .option {
	position: absolute;
	left: 0;

	opacity: 1;
	z-index: 1;

	width: 100%;
	overflow: hidden;

	padding: 8px 0;
	border-radius: 15px;
	background-color: var(--grey001);
	transition: 0.2s;
}

.dropdown > .option[status=close] {
	opacity: 0;
	transform: scale(0) translateY(-100%);
	transform-origin: top center;
}

.dropdown > .option > p {
	margin: 0;
	padding: 8px 12px;
}

.dropdown > .option > p:hover {
	background-color: var(--grey002);
}


.arrow {
	display: flex !important;
	justify-content: center;
	align-items: flex-start;
	margin-top: 25px;
	transition: 0.5s;
}

@media screen and (max-width: 470px) {
    .arrow {
        margin-top: 35px;
    }
}