.container {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
    position: relative;
    z-index: 1;
}

.slides {
    position: relative;
}

.slides > section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.cybertruck {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 100px;
}

.cybertruckText {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: calc(62vh) !important;
}

.cybertruckText > p {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    color: var(--white);
}

.cybertruckText > button {
    font-size: 0.75em !important;
    font-weight: 600 !important;
    letter-spacing: 0.1em;
    text-transform: uppercase; 

    padding: 8px 25px !important;
    min-width: fit-content !important;

    align-self: center !important;
    margin-top: 48px;
    border-radius: 0;
    /* border-width: 0.3em !important; */
    border-width: 3px !important;
}

.content {
    width: 100vw;
    padding-top: 135px;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: 0.02s;
}

.content > h1 {
    margin: 0;
    opacity: 0.9;
}

.content > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 63vh;
}

.content > div[layout=single] {
    grid-template-columns: 1fr;
}

.content > div > button {
    font-size: 0.78em;
    align-self: flex-end;
    min-width: 260px;
    transition: 0.5s;
    margin-left: 12px;
    margin-right: 12px;
}

.content > span {
    position: absolute;
    bottom: 25px;
    transition: 0.5s;   
}