.container {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.sections > section {
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.sections > section[color=primary] {
    background-color: var(--white);
}

.sections > section[color=secondary] {
    background-color: var(--black);
}

.sections > section[color=tertiary] {
    background-color: var(--lightBlue);
}

.sections > section[color=secondary] > h1,
.sections > section[color=tertiary] > h1 {
    color: var(--white);
}
